body {
  background-color: rgba(128, 128, 128, 0.616);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  
}

h1 {
  text-align: center;
}

form {   
      display: flex;
      flex-direction: column; 
      align-items: center; 
  }

label {
    margin-bottom: 8px; 
  }

       
input, select {
  width: 250px; 
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #fff; 
  text-align: center; 
}


select:focus, input:focus {
    border-color: #4CAF50;
    outline: none; 
  }

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white; 
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049; 
}


#idadeDisplay {
  margin-left: 50px; 
  
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

.campo {
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column; 
  align-items: center;
}

h2 {
  font-size: 35px;
}

#idadeDisplay {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}

